<div class="card-body">
    <h2 class="card-title">ADD/LIST COMPANIES.</h2>
    <div class="d-flex justify-content-between">
        <div class="form-floating">
            <input type="text" class="form-control" id="searchCompany" placeholder="Search For Companies Here" required>
            <label for="searchCompany">Search For Companies Here</label>
        </div>
        <button type="button" class="btn btn-primary rounded-pill">List All</button>
        <div class="d-grid"><button type="button" class="btn btn-primary rounded-pill">+</button><i>Add Companies</i></div>
    </div>
</div>