<div class="card">
    <dl class="row card-body">
        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-1">:</dd>
        <dd class="col-sm-8">{{ currentUser.username }}</dd>
      
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-1">:</dd>
        <dd class="col-sm-8">{{ currentUser.email }}</dd>
    
        <dt class="col-sm-3">Mobile Number</dt>
        <dd class="col-sm-1">:</dd>
        <dd class="col-sm-8">
            <div *ngIf="currentUser.mobileNumber; Else elseBlock">{{ currentUser.mobileNumber }}</div>
            <ng-template #elseBlock><button>Add Mobile Number</button></ng-template>
        </dd>
    
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-1">:</dd>
        <dd class="col-sm-8">{{ currentUser.userType }}</dd>
    
        <dt class="col-sm-3">Password</dt>
        <dd class="col-sm-1">:</dd>
        <dd class="col-sm-8"><button>Change Password</button></dd>    
    </dl>
</div>
